<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp Example</title>
  </head>
  <body>
    <form action="/urls/<%= id %>/update" method="POST">
      <label for="longURL">Edit URL:</label>
      <input type="text" id="longURL" name="longURL" value="<%= longURL %>">
      <button type="submit">Update</button>
    </form>
  </body>
</html>
