<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header') -%>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>
  <main style="margin: 1em;">
    <h3>Register</h3>
    <body>
      <div>
        <form method="POST" action="/register">
          <label>Enter email address:</label>
          <input type="email" name="email">
          <label>Enter password:</label>
          <input type="password" name="password">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div>
        <form>
        </form>
      </div>
    </body>
  </main>
</html>